<h1>Privacy Policy</h1>

<div class="pagetext">

<p>
Names, email addresses, phone numbers and zip codes are collected when you sign up for the mailing list or RSVP to a show.
</p>

<p>
Email addresses you submit are only used to send concert invitations.
</p>

<p>
Phone numbers you submit are only used to send text message reminders for that specific show.
</p>

<p>
Your information is not shared with any third parties.
</p>

<p>
For questions, email privacy at houseconcerts dot nyc.
</p>

</div>