<h1>About my house concerts</h1>

<div class="pagetext">

<p>
I’ve been hosting house concerts first in Sunnyvale, and then in San Francisco, California since 2002. Over the course of 50 shows, I’ve had the good fortune of having some of my favourite musicians play in my living room.
</p>

<p>As of summer 2012, this series is now based in Brooklyn, New York.</p>

<h2>Frequently asked questions</h2>


<dl>
<dt>So what is a house concert, anyway?</dt>
<dd>It’s a wonderful way to experience music. You hear an acoustic sound in an intimate
setting. There’s no smoke, no drunks, and no obnoxious suits.</dd>

<dt>Will there be <a href="https://en.wikipedia.org/wiki/House_music">house music</a>?</dt>
<dd>No.</dd>

<dt>Is this a house party?</dt>
<dd>No.</dd>

<dt>Is this a &ldquo;house series&rdquo;?</dt>
<dd>Huh?</dd>

<dt>Where is the concert?</dt>
<dd>In my living room. Really.</dd>

<dt>How many people come to these shows?</dt>
<dd>Usually about 25.</dd>

<dt>When should I arrive?</dt>
<dd>Arrive somewhere between 30 minutes and 5 minutes before the show starts. If you’re late, don’t ring the bell; call, and I’ll let you in.</dd>

<dt>What time does the show end?</dt>
<dd>The performance last for two hours. You are encouraged to stick around after and mingle (and eat dessert).</dd>

<dt>Is the food vegan?</dt>
<dd>Sorry, no. The cake’s got eggs in it. And milk.</dd>

<dt>What about parking?</dt>
<!--There’s plenty of street parking.-->
<dd>Who drives in New York? Well, there is <em>some</em> street parking nearby. There are also parking garages.</dd>

<dt>What if I don’t have a car?</dt>
<!--I live within walking distance of the Caltrain station, and the Muni buses drop you off as close as half a block away. If you want to carpool, let me know, and I’ll try and put you in touch with someone else coming from your area.-->
<dd>My apartment is easily accessible from the F/G (Bergen), 2/3/4/5/R (Borough Hall) and A/C (Jay Street—Metrotech) trains.</dd>

<dt>Do you have pets?</dt>
<dd>Yes -- I have an awesome Blue Heeler named Shooter. <s>Sadly, once again, no.</s> <s>No. Yes -- I have an awesome Blue Heeler named Nigel.</s></dd>

<dt>Can I bring my pet?</dt>
<dd>No.</dd>

<dt>Can I smoke in your house?</dt>
<dd>No.</dd>

<dt>Should I take my shoes off?</dt>
<dd>Sure, if you want to.</dd>

<dt>Will there be dancing?</dt>
<dd>Nope. But I wouldn’t stop you if you tried (assuming you could find room).</dd>

<dt>May I take pictures?</dt>
<dd>Yes, but please keep flash photography to a minimum.</dd>

<dt>May I record the show?</dt>
<dd>That’s fine with me; check with the performer beforehand.</dd>

<dt>Is there an age requirement?</dt>
<dd>People of any age are welcome. However, it’s important that everyone remain quiet throughout the performance. If you plan to bring young children, talk to me beforehand.</dd>

<dt>Can I blog about this concert?</dt>
<dd>Sure. </dd>

<dt>How much are the shows?</dt>
<dd>The suggested contribution is $15, but you are welcome to give more.</dd>

<dt>Who gets the money?</dt>
<dd>The performer. Every cent.</dd>

<dt>Will there be CDs and merch for sale?</dt>
<dd>Indeedy.</dd>

<dt>Who should I bring?</dt>
<dd>Bring a friend! Bring a date! Bring your Mom! Bring all three!</dd>

<dt>What should I bring?</dt>
<dd>Drinks and snacks will be provided, but if you’d like to bring
something to share, I’d be really grateful.</dd>

<dt>Anything else I should know?</dt>
<dd>Please turn off the ringer on your cell phone.</dd>

</dl>
</div>

<h1 id="other">Other house concerts</h1>
<div class="pagetext">
<p>
If you’re interested in finding a house concert in another area or hosting your own show, check out <a href="http://houseconcerts.org/">houseconcerts.org</a>, <a href="http://www.houseconcerts.com/">houseconcerts.com</a>, <a href="http://jrp-graphics.com/houseconcerts/resources.html">Russ &amp; Julie’s House Concerts</a>, <a href="http://www.concertsinyourhome.com/">Concerts in Your Home</a> and the <a href="http://groups.yahoo.com/group/HouseConcert/">HouseConcert Yahoo Group</a>.
</p>

<p>Alan Bershaw wrote a <a href="http://paulschreiber.com/old/jewel/lrt.php">history of the living room tour</a> for the <a href="http://www.quackquack.net/jewel/">Everyday Angels mailing list</a> a while back. Meredith Tarr and Woj run a <a href="http://hom.smoe.org/">living room concert series</a> in New Haven, Connecticut.
</p>

<h2>House concerts in the San Francisco bay area</h2>
<ul>
  <li><a href="http://www.amymeyersmusic.com/yardconcerts.html">Amy and Cindy's yard concerts</a> in Hayward</li>
  <li><a href="http://www.barnconcerts.com/">Barn Concerts</a> in Gilroy</li>
  <li><a href="http://www.braskhouseconcerts.com/">Brask House Concerts</a> in Fremont</li>
  <li><a href="http://www.danfontes.com/">Dan Fontes</a>’ houseboat house concerts in Sausalito</li>
  <li><a href="mailto:gwenf&#64;sbcglobal.net?subject=House+Concerts">Gwen Fuller</a> in Menlo Park</li>
  <li><a href="http://www.myspace.com/inthemoodforfood">Phil Gelb</a> in Oakland (world music and experimental music)</li>
  <li><a href="http://www.drewpearce.com/">Drew Pearce</a> in Sausalito, San Rafael and Mill Valley</li>
  <li><a href="mailto:kcturnermusic&#64;gmail.com">KC Turner</a>, also in the north bay </li>
  <li><a href="http://www.sbconcerts.com/">The Sounding Board</a> in Cupertino</li>
  <li><a href="mailto:daniel&#64;instantharmony.com?subject=House+Concerts">Daniel Steinberg</a> in Mountain View (<strong>Important:</strong> traditional and world music only. no singer-songwriters.)</li>
  <li><a href="http://www.treehouseconcerts.org/">Tree House Concerts</a> in Monterey</li>
<!--
  <li><a href="http://www.truewindmusic.com/">True Wind Music</a> in Campbell</li>
-->
</ul>
</div>

<h1>About me</h1>

<div class="pagetext">
<dl>
<dt>Do you play any instruments?</dt>
<dd>Dear lord, no!</dd>

<dt>Did you take those pictures?</dt>
<dd>Yes.</dd>

<dt>The ones on the web site?</dt>
<dd>No.</dd>

<dt>Which ones?</dt>
<dd>The ones on my wall.</dd>

<dt>Who are you?</dt>
<dd>I’m <a href="https://paulschreiber.com/">Paul Schreiber</a>.</dd>
</dl>
</div>

<h1>About the web site</h1>

<div class="pagetext">
	<p>I rebuilt this site in Rails 4.2.7.1. Some of the other bits are still true.</p>
</div>

<div class="pagetext">
<p><s>The site, which is valid <a href="http://validator.w3.org/check/referrer">HTML</a> and CSS, was hand-coded by me in <a href="http://www.macromates.com/">TextMate</a>. There’s some nifty PHP and MySQL going on behind the scenes, running on my trusty Ubuntu Linux box. The nifty tabs came from <a href="http://www.alistapart.com/articles/taminglists/">A List Apart</a> and <a href="http://www.nextthing.org/">Andrew Wooster</a>. <a href="http://www.tantek.com/">Tantek  &Ccedil;elik</a> showed me how to do microformats and lose some tables. Everything here is &copy; 2005&ndash;16 Paul Schreiber and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons Attribution-NonCommercial License</a></s>.
 </p>

</div>
