<% content_for :title do %><%= page_title %><% end %>

<% if @shows.empty? %>
	<div class="pagetext">
	<h2>No shows scheduled</h2>
	<p>No shows are currently scheduled. Check back soon.</p>
	</div>

<% else %>
	<% @shows.each do |show| %>
		<%= render partial: 'show', locals: { show: show } %>
	<% end %>
<% end %>