<% content_for :title do %><%= page_title("Musician Info") %><% end %>

<h1>Information for musicians</h1>

<div class="pagetext">

<p>Want to get booked here? <a href="#requirements">Read the requirements</a> before emailing.</p>

<h2>Confirmed acts</h2>

<dl>

<dt>How long do I play for?</dt>
<dd>You play two 45-minute sets, with a 15-minute break in between.</dd>

<dt>What instruments can I play?</dt>
<dd>Most performers play either acoustic guitar or keyboard, but you’re welcome to bring an electric guitar (as long as you keep it down), a djembe, a cello, or anything else relatively quiet.</dd>

<dt>Can I use a PA/do I need a PA?</dt>
<dd>Performers here have played both with a PA and unplugged. It’s up to you — whatever you’re most comfortable with.</dd>

<dt>Do you have a PA?</dt>
<dd>No.</dd>

<dt>Do you have a DI?</dt>
<dd>No.</dd>

<dt>Do you have a microphone?</dt>
<dd>No. <br /><br />See a pattern here? (You’re responsible for bringing your own gear.)</dd>

<dt>Do you have 9-volt battery?</dt>
<dd>Yes.</dd>

<dt>Anything else?</dt>
<dd>I do have a pen, paper, a clipboard and assorted screwdrivers.</dd>

<dt>How many people can I have in my band?</dt>
<dd>Due to space constraints, only one or two people from the band can play.</dd>

<dt>What time should I arrive?</dt>
<dd>Load-in is at 6:30 if you have a PA. If you’re playing unplugged, you can come by around 7.</dd>

<dt>Can I have an opening act?</dt>
<dd>No. To keep the show logistics simple, and ensure the show is financially viable for you, I limit it to one act per show.</dd>

<dt>When do I get paid?</dt>
<dd>After your set, we pass a hat around, and everyone throws money in. Then you get the hat. (Then you take the money, and give me back my hat. :-) )</dd>

<dt>Do I get a guarantee?</dt>
<dd>No.</dd>

<dt>What do you need from me?</dt>
<dd>I need a high-resolution photo suitable for printing, your email address, your cell phone number, and what food and drinks you’d like in the green room.</dd>

<dt>Can I stay over?</dt>
<dd>I have a spare bed, which is usually available. If you need accomodation, let me know.</dd>

</dl>

<h2 id="requirements">Prospective acts</h2>

<p>I <em>only</em> book people I’ve gone out to see. This usually happens serendipituosly—I’ll like an opener or random band at a festival. Other times, I check out shows based on recommendations from friends. Unsolicited band requests make up at most 5% of the bands I book. (Note: <strong>I still need to see you perform first</strong>.) If you think my series would be a good fit, read on.</p>

<h3>Requirements</h3>
<p class="listintro">For me to consider booking you, you must, at a minimum:</p>
<ul>
	<li>be a singer-songwriter (I do not host instrumental acts, vocalists, world music or cover bands)</li>
	<li>live outside the <s>San Francisco Bay Area (this includes Marin county down to to Santa Cruz)</s> New York City area</li>
	<li>have performed live with me in the audience (video clips or recordings are insufficient)</li>
</ul>

<p class="listintro">Please do not:</p>
<ul>
	<li>Send me a press kit or EPK</li>
	<li>Subscribe me to your mailing list</li>
	<li>Include me as part of a mass-mailing</li>
	<li>Email me via an address other than the one listed on this site</li>
	<li>Attach files to your email (such as Word documents, MP3s or photographs)</li>
	<li>Include extraenous information, such as a performance history or reviews</li>
	<li>Name-drop (yawn)</li>
</ul>

<p class="listintro">Please write a <a href="https://paulschreiber.com/blog/2006/01/21/writing-great-email/">clear, succinct email</a>. The following are examples of poor subject lines people have used when contacting me:</p>
<ul>
	<li>UK songwriter</li>
	<li>Scottish duo</li>
	<li>show</li>
	<li>Music, etc.</li>
	<li>Musician found this site</li>
	<li>Booking</li>
	<li>Booking?</li>
	<li>Booking a House Concert</li>
	<li>Booking A Performance (Maybe?)</li>
	<li>Interested in performing</li>
	<li>Musician interested in House concerts</li>
	<li>house Concerts</li>
	<li>Possible House Concert</li>
	<li>Hi Paul - Referred by xxxxxx</li>
	<li>Hello</li>
	<li>howdy paul</li>
	<li>Hey Paul</li>
	<li>Winter/spring</li>
	<li>Area shows in Nov</li>
	<li>Touring Musician In Area Feb 2009 (is this an <cite>Onion</cite> headline?)</li>
</ul>

<p class="listintro">Here are a few examples of good subject lines:</p>
<ul>
	<li>Berkley Hart in November</li>
	<li>Booking Chris O'Brien in August?</li>
	<li>attn: Paul/Booking/Gabrielle Louise</li>
</ul>

<dl>

<dt>How do you choose who plays at your place?</dt>
<dd>I ask people I’ve seen (and liked) to play here. I have to be confident a bunch of strangers who aren’t avid music fans (like me) will like you. I book acts who <em>aren’t</em> local to the bay area — people who wouldn’t otherwise get a chance to play a full gig here.</dd>

<dt>Can I play at your place?</dt>
<dd>If I haven’t see you play, let me know when you’ll be in the bay area, and I’ll check your performance out.</dd>

<dt>What if you’ve seen me play?</dt>
<dd>Well, if you’re on this list, you have an open invitation to play here at a mutually convenient time:
<ul>
<li><a href="https://www.sarabmusic.com/">Sara Bareilles</a></li>
<li><a href="https://www.instagram.com/katmaslich/">Kat Maslich Bode</a></li>
<li><a href="https://www.ajcroce.com/">AJ Croce</a></li>
<li><a href="https://www.catiecurtis.com/">Catie Curtis</a></li>
<li><a href="https://www.davestruestory.com/">Dave’s True Story</a></li>
<li><a href="https://www.kathleenedwards.com/">Kathleen Edwards</a></li>
<li><a href="https://www.markerelli.com/">Mark Erelli</a></li>
<li><a href="https://www.sarahharmer.com/">Sarah Harmer</a></li>
<li><a href="https://www.sophiebhawkins.com/">Sophie B. Hawkins</a></li>
<li><a href="https://www.gemmahayes.com/">Gemma Hayes</a></li>
<li><a href="https://www.garyjules.com/">Gary Jules</a></li>
<li><a href="https://www.ellyk.com/">Elly K</a></li>
<li><a href="https://www.taramaclean.com/">Tara MacLean</a></li>
<li><a href="https://www.gabrielmann.com/">Gabriel Mann</a></li>
<li><a href="https://www.madisonviolet.com/">Madison Violet</a></li>
<li><a href="https://www.dannymichel.com/">Danny Michel</a></li>
<li><a href="https://www.mattnathanson.com/">Matt Nathanson</a></li>
<li><a href="https://www.lindiortega.com/">Lindi Ortega</a></li>
<li><a href="https://www.ellispaul.com/">Ellis Paul</a></li>
<li><a href="https://www.tristanprettyman.com/">Tristan Prettyman</a></li>
<li><a href="https://www.breesharp.com/">Bree Sharp</a></li>
<li><a href="https://www.amyspeace.com/">Amy Speace</a></li>
<li><a href="https://www.sarahslean.com/">Sarah Slean</a></li>
<li><a href="https://www.jillsobule.com/">Jill Sobule</a></li>
<li><a href="https://www.megtoohey.com/">Meg Toohey</a></li>
<li>Dylan White (How I Won The War/Cedar Park)</a></li>
</ul>

<p>And some folks I’d really like to see live, but haven’t yet:</p>
<ul>
<li><a href="https://www.naimeecoleman.com/">Naimee Coleman</a></li>
<li><a href="https://allisoncroweband.com/">Allison Crowe</a></li>
<li><a href="https://wescunningham.bandcamp.com/">Wes Cunningham</a></li>
<li><a href="https://www.theagilmore.net/">Thea Gilmore</a></li>
<li><a href="https://terami.com/">Terami Hirsch</a></li>
<li><a href="https://www.blusanders.com/">Blu Sanders</a></li>
</ul>

<p>If you’re not, ask next time you see me.</p>

<p>There are, of course, other people who I’d love to see play here—but it wouldn’t be feasible for them to do so.</p>
</dd>

<dt>Should I send you a press kit?</dt>
<dd>No, please don’t. Just send me a link to your web site and let me know where I can see you play.</dd>

</dl>

</div>
