<div id="tabs">
<ul>
<%

tabList = {
	root_path => "House Concerts",
	about_path => "About",
	mailing_list_path => "Mailing List",
	new_rsvp_path => "RSVP",
	past_shows_path => "Past Shows",
	musicians_path => "For Musicians",
}
%>

<% tabList.each_pair do |url, text| %>
	<% if (request.path == url || (controller_name == "rsvps" && text == "RSVP")) %>
		<li class='here'><%= text %></li>
	<% else %>
		<li><a href='<%= url %>'><%= text %></a></li>
	<% end %>
<% end %>

</ul>
</div>
