<div id="tabs">
<ul>
<%

#$currentPage = ($_SERVER["SCRIPT_NAME"] === "/index.php") ? "/" : $_SERVER["SCRIPT_NAME"];
currentPage = "/"

tabList = {
	root_path => "House Concerts",
	about_path => "About",
	"/list" => "Mailing List",
	new_rsvp_path => "RSVP",
	past_shows_path => "Past Shows",
	musicians_path => "For Musicians",
}
%>

<% tabList.each_pair do |url, text| %>
	<% if (currentPage == url) %>
		<li class='here'><%= text %></li>
	<% else %>
		<li><a href='<%= url %>'><%= text %></a></li>
	<% end %>
<% end %>

</ul>
</div>
