<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
		@media screen and (max-width: 480px) {
			.button {
				width: 100%;
				min-height: 44px;
				line-height: 44px;
			}
		}
		</style>
	</head>
	<body>
		<%= yield %>

		<%= image_tag(@track_url) if @track_url %>
	</body>
</html>
