<html>
	<body>
		<%= yield %>

		<p>P.S. If you don’t want to receive any more concert invites, <%= link_to "instantly unsubscribe", @unsub_url %>. Don’t worry, you won’t hurt my feelings.</p>
		<%= image_tag(@track_url) if @track_url %>
	</body>
</html>
